html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: sans-serif;
}
#container {
    max-width: 800px;
    border: 1px solid #666;
    margin: auto;
    margin-top: 3rem;
}
header {
    margin: 0;
    text-align: center;
    padding: 2rem 0;
    background: #333;
}
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1;
}
footer {
    padding: 1.5rem 0;
    background: #333;
}
form {
    width: 90%;
    margin: auto;
}

/* links */
a {
    color: #c00;
    text-decoration: underline;
}
a:hover {
    color: #f00;
    text-decoration: none;
}

/* Shouts box */
#shouts {
    padding: 1rem 2rem;
}
ul {
    height: 300px;
    overflow: auto;
    padding: 2rem;
    border: 1px solid #333;
}
ul li {
    color: #ccc;
    list-style: none;
    font-size: 1rem;
    line-height: 1.5;
}
label {
    font-size: 1.1rem;
    padding-right: 5px;
}
input[type='text'] {
    font-family: monospace;
    font-size: 1.2rem;
    margin-right: 15px;
    width: 100px;
    height: 1.6rem;
}
input#shout {
    width: 300px;
}

/* Submit button */
input[type='submit'] {
    background: #E11B8C;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0;
    padding: 7px 15px;
    cursor: pointer;
}
input[type='submit']:hover {
    background: #ED3DA1;
}

/* media query for mobile */
@media screen and (max-width: 800px) {
    #container {
        border: none;
        margin: 0;
    }
    #shouts { padding: 0; }
    ul { border: 0; }
    label { display: block; }
    #name, #submit { width: 100%; }
    input#shout { width: 100%; }
    input[type='text'] { margin-bottom: 0.8rem; }
}
